
.body-container {
    max-width: 375px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 32px 24px;

    background-color: #F1F9FD;

    display: flex;
    flex-direction: column;
    gap: 32px;
}


.logo {
    display: flex;
    justify-content: center;
}

.logo__img {
    max-width: 100%;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.opportunities {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    background-color: white;
    border-radius: 12px;
}


.opportunities__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
}

.opportunities__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.opportunities__list .item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.item__text {
    width: 100%;
    line-height: 1.2em;
}


.app-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.app-buttons__link {
    display: block;
}