
@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Light.ttf');
    font-weight: 300;
}

body {
    font-family: 'Inter', sans-serif;
    /*color: #2F3B4C*/
}

.title {
    text-align: center;
    line-height: 1.2em;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.title--h2-light {
    font-size: 18px;
    font-weight: 300;
}

.button {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--filled-blue {
    padding: 20px 24px;
    color: white;
    background-color: #514FAE;
    font-weight: 700;

    transition: ease background-color 300ms;
}

.button--filled-blue:hover {
    background-color: #413F8B;
}

.button--text {
    color: #514FAE;
    font-weight: 700;
}

.button--text:hover {
    color: #413F8B;
}



